
$angle: 65deg;

.home {
    
    transform: perspective(600px) rotateY(#{$angle}) translate(-205px, -10px) skewY(6deg);
    color: white;
}

.about {
    transform: perspective(850px) rotateY(#{$angle}) translate(-300px, 0px) skewY(-4deg);
    color: white;
}

.project {
    
    transform: perspective(680px) rotateY(#{$angle}) translate(-228px, 10px) skewY(-19deg);
    color: white;
}

.task-board {
    
    transform: perspective(1400px) rotateY(-#{$angle}) translate(335px, -40px) skewY(-8deg);
    color: white;
}

.chat-room {
    
    transform: perspective(900px) rotateY(-#{$angle}) translate(275px, 20px) skewY(6deg);
    color: white;
}

