
$angle: 65deg;


.home {
    position: relative;
    transform: perspective(850px) rotateY(#{$angle}) translate(-205px, -30px) skewY(-10deg);
    color: white;
  &::before {
    content: "";
    position: absolute;
    top: -8px; 
    left: -20px;       
    width: 130px;       
    height: 10px;       
    background: #ff3434; 
    transform: skewX(80deg); 
    z-index: -1;       
    border-radius: 2px;
  } 
}

.about {
    transform: perspective(850px) rotateY(#{$angle}) translate(-205px, -10px) skewY(-10deg);
    color: white;
      &::before {
    content: "";
    position: absolute;
    top: -8px;       
    left: -20px;       
    width: 260px;        
    height: 10px;      
    background: #ff3434;
    transform: skewX(80deg); 
    z-index: -1;      
    border-radius: 2px;
  }
}

.project {   
    transform: perspective(850px) rotateY(#{$angle}) translate(-205px, 10px) skewY(-10deg);
    color: white;
}

.task-board {
    transform: perspective(850px) rotateY(#{$angle}) translate(-205px, 30px) skewY(-10deg);
    color: white;
}

.chat-room {
    
    transform: perspective(850px) rotateY(#{$angle}) translate(-205px, 50px) skewY(-10deg);
    color: white;
}

