
// $angle: 65deg;

// .home {
//     height: 100px;
//     transform: perspective(400px) rotateY(#{$angle}) translate(-170px, -10px) skewY(12deg);
//     color: white;
// }

// .about {
//     transform: perspective(400px) rotateY(#{$angle}) translate(-180px, 10px) skewY(2deg);
//     color: white;
// }

// .project {
    
//     transform: perspective(700px) rotateY(#{$angle}) translate(-120px, 10px) skewY(-19deg);
//     color: white;
// }

// .task-board {
    
//     transform: perspective(1000px) rotateY(-#{$angle}) translate(256px, -20px) skewY(-12deg);
//     color: white;
// }

// .chat-room {
    
//     transform: perspective(900px) rotateY(-#{$angle}) translate(230px, 20px) skewY(10deg);
//     color: white;
// }

