
$angle: 65deg;

.home {
    color: #732424;
    height: 4rem;
    transform: perspective(600px) rotateY(#{$angle}) translate(-190px, -10px) skewY(19deg);
    color: white;
}

.about {
    color: #732424;

    transform: perspective(350px) rotateY(#{$angle}) translate(-120px, 10px) skewY(2deg);
    color: white;
}

.project {
    transform: perspective(450px) rotateY(#{$angle}) translate(-150px, 10px) skewY(-18deg);
    color: white;
}

.task-board {
    transform: perspective(600px) rotateY(-#{$angle}) translate(215px, -20px) skewY(-12deg);
    color: white;
}

.chat-room {
    width: 15rem;
    transform: perspective(450px) rotateY(-#{$angle}) translate(215px, 20px) skewY(10deg);
    color: white;
}

