
$angle: 65deg;

.home {
    color: #732424;
    width: 12rem;
    text-shadow: 0px 0px 0 rgb(110,31,31),
                 -1px 1px 0 rgb(105,26,26),
                 -2px 2px 0 rgb(100,21,21),
                 -3px 3px 0 rgb(95,16,16),
                 -4px 4px 0 rgb(90,11,11),
                 -5px 5px 0 rgb(85,6,6),
                 -6px 6px 0 rgb(80,1,1),
                 -7px 7px 0 rgb(75,-4,0),
                 -8px 8px 0 rgb(70,-9,0),
                 -9px 9px 0 rgb(65,-14,0),
                 -10px 10px  0 rgb(60,-19,0),
                 -11px 11px 10px rgba(0,0,0,0.04),
                 -11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);

    transform: perspective(600px) rotateY(#{$angle}) translate(-150px, 10px) skewY(15deg);
    color: white;
}

.about {
    color: #732424;
    width: 150px;
    text-shadow: 0px 0px 0 rgb(110,31,31),
                 -1px 0px 0 rgb(105,26,26),
                 -2px 0px 0 rgb(100,21,21),
                 -3px 0px 0 rgb(95,16,16),
                 -4px 0px 0 rgb(90,11,11),
                 -5px 0px 0 rgb(85,6,6),
                 -6px 0px 0 rgb(80,1,1),
                 -7px 0px 0 rgb(75,-4,0),
                 -8px 0px 0 rgb(70,-9,0),
                 -9px 0px 0 rgb(65,-14,0),
                 -10px 0px  0 rgb(60,-19,0),
                 -11px 0px 10px rgba(0,0,0,0.04),
                 -11px 0px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);

    margin-top:2rem;
    transform: perspective(350px) rotateY(#{$angle}) translate(-150px, 15px) skewY(3deg);
    color: white;
}

.project {
    color: #732424;
    width: 240px;
    text-shadow: 0px 0px 0 rgb(110,31,31),
                 -1px -1px 0 rgb(105,26,26),
                 -2px -2px 0 rgb(100,21,21),
                 -3px -3px 0 rgb(95,16,16),
                 -4px -4px 0 rgb(90,11,11),
                 -5px -5px 0 rgb(85,6,6),
                 -6px -6px 0 rgb(80,1,1),
                 -7px -7px 0 rgb(75,-4,0),
                 -8px -8px 0 rgb(70,-9,0),
                 -9px -9px 0 rgb(65,-14,0),
                 -10px -10px  0 rgb(60,-19,0),
                 -11px -11px 10px rgba(0,0,0,0.04),
                 -11px -11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
    margin-top:2rem;
    transform: perspective(450px) rotateY(#{$angle}) translate(-150px, 25px) skewY(-12deg);
    color: white;
}

.task-board {
    font-size: 3rem;
    color: #732424;
    height: 3rem;
    width: 17rem;
    text-shadow: 0px 0px 0 rgb(110,31,31),
                 1px 0px 0 rgb(105,26,26),
                 2px 0px 0 rgb(100,21,21),
                 3px 0px 0 rgb(95,16,16),
                 4px 0px 0 rgb(90,11,11),
                 5px 0px 0 rgb(85,6,6),
                 6px 0px 0 rgb(80,1,1),
                 7px 0px 0 rgb(75,-4,0),
                 8px 0px 0 rgb(70,-9,0),
                 9px 0px 0 rgb(65,-14,0),
                 10px 0px  0 rgb(60,-19,0),
                 11px 0px 10px rgba(0,0,0,0.04),
                 11px 0px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
    margin-top:2rem;
    transform: perspective(450px) rotateY(-#{$angle}) translate(150px, 25px) skewY(-18deg);
    color: white;
}

.chat-room {
    color: #732424;
    height: -2rem;
    width: 15rem;
    text-shadow: 0px 0px 0 rgb(110,31,31),
                 1px -1px 0 rgb(105,26,26),
                 2px -2px 0 rgb(100,21,21),
                 3px -3px 0 rgb(95,16,16),
                 4px -4px 0 rgb(90,11,11),
                 5px -5px 0 rgb(85,6,6),
                 6px -6px 0 rgb(80,1,1),
                 7px -7px 0 rgb(75,-4,0),
                 8px -8px 0 rgb(70,-9,0),
                 9px -9px 0 rgb(65,-14,0),
                 10px -10px  0 rgb(60,-19,0),
                 11px -11px 10px rgba(0,0,0,0.04),
                 11px -11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
    margin-top:2rem;
    transform: perspective(450px) rotateY(-#{$angle}) translate(150px, 25px) skewY(2deg);
        color: white;
}

