@import './styles/fonts.css';

@import "tailwindcss";

:root {
  font-family: "Satoshi-Variable", serif;
  box-sizing: border-box;
  color-scheme: light dark;
  color: white;
  background-color: #0d0d0d;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-items: center;
  height: 100vh;
  width: 100vw; 
}

.HEAD {
  font-family:"Outfit-Bold",sans-serif;
  /* font-family:"Satoshi-Variable",sans-serif; */
  /* font-family:"HEAVYHEA",sans-serif; */
}

.menu {
  font-family: "Expose-Regular", serif;
  /* font-family: "HEAVYHEA", serif; */
}



.chat {
  
  margin-right: 4rem;
  margin-top: 3rem;
  height: 70px;
  width: 200px;
  transform: skew(20deg);
}

.chat2{
  padding-left: 10px;
  margin-right: 10px;
  margin-left: -10px;
  height: 60px;
  line-height: 60px;
  width: 200px;
  transform: skew(-15deg);
}

/* .menu-home {
  text-shadow: 4px 4px 0px black;
} */
/* 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
